.App {
  background-color: #f2f0e6; /* Specify your desired background color */
  min-height: 100vh; /* Make sure it covers the full height of the viewport */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Continue using your desired font */
}

