.App-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;

  width: 100%; /* Ensure full width */

}


.App-footer .logo {
    height: 160px; /* Adjust the height as needed */
    width: auto; /* This will maintain the aspect ratio of the logo */
    /* Add more styles as required */
}