/* Header.css */

.App-header {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex; /* Enables flexbox */
    justify-content: left; /* Centers the navigation menu horizontally */
    flex-direction: row;
    align-items: center; /* Aligns items vertically */
}

.header-content img {
  height: 160px; /* Adjust the height as needed */
  width: auto; /* This will maintain the aspect ratio of the logo */
}

.App-header nav ul {
    list-style: none; /* Removes default list styling */
    margin: 1; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Aligns the list items in a row */
}

.App-header nav ul li {
    margin: 0 15px; /* Adds horizontal spacing between menu items */
}

.App-header nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Dark text color for contrast */
    font-weight: bold; /* Makes the font bold */
    font-size: 1.5em;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.App-header nav ul li a:hover {
    color: #007bff; /* Changes color on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-button {
  display: none; /* Initially hide the button */
}

/* Add CSS to style the navigation menu */
.header-nav {
  display: flex;
  justify-content: left;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Initially hide the ul on all screens */
  flex-direction: row;
}

.header-nav li {
  margin: 0 15px;
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: #007bff;
}

/* Media query to show/hide the hamburger menu */
@media screen and (max-width: 768px) {
  .header-nav ul.show-menu {
    display: flex; /* Show the menu when the button is clicked */
    flex-direction: column;
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .header-nav ul.show-menu li {
    margin: 10px;
  }

  .header-nav ul.show-menu a {
    font-size: 1.2em;
  }
}