/* Header.css */

.App-header {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 10px 20px; /* Vertical and horizontal padding */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the navigation menu horizontally */
    flex-direction: column;
    align-items: center; /* Aligns items vertically */
}

.header-content h1 {
    margin: 0;
    padding: 0;
    font-size: 4em; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
}
.App-header nav ul {
    list-style: none; /* Removes default list styling */
    margin: 1; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Aligns the list items in a row */
}

.App-header nav ul li {
    margin: 0 15px; /* Adds horizontal spacing between menu items */
}

.App-header nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Dark text color for contrast */
    font-weight: bold; /* Makes the font bold */
    font-size: 1.5em;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.App-header nav ul li a:hover {
    color: #007bff; /* Changes color on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}